@model SystemHostingPortal.Models.OrganizationModel
@{
    ViewBag.Title = "Organization > Create";
}
@section script {
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to create a new customer.</p>


@using(Html.BeginForm("Create", "Organization")) {
<fieldset>
    <legend>Create organization</legend>
    <table>
        <tr>
            <td colspan="2">
                <div id="messageDiv">
                    @if (Model.Message != null)
                    {
                        <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                    }
                </div>
                <div id="okMessageDiv">
                    @if (Model.OKMessage.Count > 0)
                    {
                        <div class="okmessage">
                            @foreach (string msg in Model.OKMessage)
                            {
                                <p>@msg</p>
                            }
                            <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                        </div>
                    }
                </div>
            </td>
        </tr>

        <tr>
            <td class="lefttd tooltip"><span>Name<i class="material-icons infoicon">info</i></span></td>
            <td>
                <input name="name" placeholder="Contoso" @if (Model.ActionFailed) {  @: value="@Model.Organization.Name"
                                                                                                            } />
                <div class="description">
                    <p class="descriptiontext">
                        Specifies the initials that the organization will be created as. This is limited to be between 2 and 5 characters.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd tooltip"><span>Email Domain Name<i class="material-icons infoicon">info</i></span></td>
            <td>
                <input name="emaildomainname" placeholder="contoso.com" @if (Model.ActionFailed) {  @: value="@Model.Organization.EmailDomainName"
                                                                                                               } />
                <div class="description">
                    <p class="descriptiontext">
                        This is the primary e-mail domain that the customer will use..
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd tooltip"><span>Subnet<i class="material-icons infoicon">info</i></span></td>
            <td>
                <input name="subnet" placeholder="172.25.185.0/24" @if (Model.ActionFailed) {  @: value="@Model.Organization.Subnet"
                                                                                                                                      } />
                <div class="description">
                    <p class="descriptiontext">
                        This is the primary e-mail domain that the customer will use..
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd tooltip"><span>VLan<i class="material-icons infoicon">info</i></span></td>
            <td>
                <input name="vlan" placeholder="185" @if (Model.ActionFailed) {  @: value="@Model.Organization.Vlan"
                                                                                                                                      } />
                <div class="description">
                    <p class="descriptiontext">
                        This is the primary e-mail domain that the customer will use..
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd tooltip"><span>IPAddressRangeStart<i class="material-icons infoicon">info</i></span></td>
            <td>
                <input name="ipaddressrangestart" placeholder="172.25.185.10" @if (Model.ActionFailed) {  @: value="@Model.Organization.IPAddressRangeStart"
                                                                                                                                                             } />
                <div class="description">
                    <p class="descriptiontext">
                        This is the primary e-mail domain that the customer will use..
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd tooltip"><span>IPAddressRangeEnd<i class="material-icons infoicon">info</i></span></td>
            <td>
                <input name="ipaddressrangeend" placeholder="172.25.185.250" @if (Model.ActionFailed) {  @: value="@Model.Organization.IPAddressRangeEnd"
                                                                                                                                                             } />
                <div class="description">
                    <p class="descriptiontext">
                        This is the primary e-mail domain that the customer will use..
                    </p>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="lefttdhelp helptooltip"><span>Click for help/guide:<i class="material-icons infoicon">info</i></span></td>
            <td>
                <div class="infohelp">
                    <p class="infohelptext">
                    <br/>
                    <p>Følg guide på følgende link:</p>
                    <br />
                    <p><a href="https://dokuwiki.systemhosting.dk/doku.php?id=capto:opret_ny_kunde_ny" target="_blank">DokuWiki</a><p/>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" class="button" class:hover="button:hover" id="buttonSubmit" value="Create" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>

}