@model ColumbusPortal.Models.CaptoModel
@{
    ViewBag.Title = "Capto > Mail > Add Alias";
}
@section script {
    <script>
    $(document).ready(function () {
        $("select[name=organization]").change(function () {
            CPOGetAcceptedDomain();
            CPOGetMailbox();

            $("#existingAliases").html("");
        });
        $("select[name=userprincipalname]").change(function () {
            CPOGetAliases();
        });

        @if (Model.CPOAlias != null)
        {
        <text>$("select[name=organization]").val("@Model.CPOAlias.Organization");</text>
        }

        CPOGetAcceptedDomain();
        CPOGetMailbox();
    });
    </script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form add email aliases to a capto user account.</p>

@using (Html.BeginForm("CPOAddAlias", "Capto"))
{
    <fieldset>
        <legend>Add alias</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td class="lefttd">Organization</td>
                <td class="middletd">
                    <select name="organization">
                        @foreach (string organization in Model.CPOOrganizations)
                        {
                            <option @if (Model.ActionFailed) { if (organization == Model.CPOAlias.Organization) { @: selected="selected"
                                                                    } }>
                                @organization
                                                                </option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Accepted emaildomains:</td>
                <td class="middletd">
                    <div id="acceptedDomain"></div>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Existing aliases:</td>
                <td class="middletd">
                    <div id="existingAliasesDiv">
                        <ul id="existingAliases"></ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Mailbox</td>
                <td class="middletd">
                    <select name="userprincipalname"><option>loading...</option></select>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Set first alias as primary address</td>
                <td class="middletd">
                    <input name="setfirstasprimary" id="setfirstasprimary" type="checkbox" class="cbx hidden" @if (Model.ActionFailed) { if (Model.CPOAlias.SetFirstAsPrimary) { @: checked="checked"
                                                                                           } } /><label for="setfirstasprimary" class="lbl"></label>
                </td>
            </tr>
            <tr>
                <td class="lefttd">New email aliases</td>
                <td class="middletd">
                    @if (Model.ActionFailed)
                {
                    <textarea name="emailaddresses" rows="10" placeholder="Write one alias per line">@string.Join("\r\n", Model.CPOAlias.EmailAddresses)</textarea>
                }
                else
                {
                    <textarea name="emailaddresses" rows="10" placeholder="Write one alias per line"></textarea>
                }
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" class="button" class:hover="button:hover" value="Add Alias" id="buttonSubmit" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>
}