@model ColumbusPortal.Models.CaptoModel
@{
    ViewBag.Title = "Capto > Organization > Create";
}
@section script {
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to create a new customer.</p>


@using(Html.BeginForm("CPOCreate", "Capto")) {
<fieldset>
    <legend>Create Capto organization</legend>
    <table>
        <tr>
            <td colspan="2">
                <div id="messageDiv">
                    @if (Model.Message != null)
                    {
                        <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                    }
                </div>
                <div id="okMessageDiv">
                    @if (Model.OKMessage.Count > 0)
                    {
                        <div class="okmessage">
                            @foreach (string msg in Model.OKMessage)
                            {
                                <p>@msg</p>
                            }
                            <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                        </div>
                    }
                </div>
            </td>
        </tr>

        <tr>
            <td class="lefttd tooltip"><span>Name<i class="material-icons infoicon">info</i></span></td>
            <td class="middletd">
                <input name="name" placeholder="Customer INI" @if (Model.ActionFailed) {  @: value="@Model.CPOOrganization.Name"
                                                                                                            } />
                <div class="description">
                    <p class="descriptiontext">
                        Specifies the initials that the organization will be created as. This is limited to be between 2 and 5 characters.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd tooltip"><span>Email Domain Name<i class="material-icons infoicon">info</i></span></td>
            <td class="middletd">
                <span>dummy.</span>
                <input style="width:83.7%" name="emaildomainname" placeholder="contoso.com" @if (Model.ActionFailed) {  @: value="@Model.CPOOrganization.EmailDomainName"
                                                                                                               } />
                <div class="description">
                    <p class="descriptiontext">
                        This is the primary e-mail domain that the customer will use. The e-mail domain will be prepended with "dummy.", to ensure that existing organizations will not try to deliver e-mails to it, before it is ready.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd tooltip"><span>File Server<i class="material-icons infoicon">info</i></span></td>
            <td class="middletd">
                <select name="fileserver">
                    @foreach (string fileserver in Model.CPOFileServers)
                    {
                        <option selected="@(Model.ActionFailed && Model.CPOOrganization.FileServer == fileserver)">@fileserver</option>
                    }
                </select>
                <div class="description">
                    <p class="descriptiontext">
                        Specifies which file server that all user data will be stored on for the new organization. User Profile Disks are not affected by this.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd tooltip"><span>File Server Drive Letter<i class="material-icons infoicon">info</i></span></td>
            <td class="middletd">
                <input name="driveletter" placeholder="E" @if (Model.ActionFailed) {  @: value="@Model.CPOOrganization.FileServerDriveLetter"
                                                                                                                                   } />
                <div class="description">
                    <p class="descriptiontext">
                        Specifies on which drive on the file server that all user data will be stored on.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd tooltip"><span>Solution<i class="material-icons infoicon">info</i></span></td>
            <td class="middletd">
                <select name="solution">
                    <option selected="@(Model.ActionFailed && Model.CPOOrganization.Solution.ToUpper() == "ADVOPLUS")">AdvoPlus</option>
                    <option selected="@(Model.ActionFailed && Model.CPOOrganization.Solution.ToUpper() == "LEGAL")">Legal</option>
                    <option selected="@(Model.ActionFailed && Model.CPOOrganization.Solution.ToUpper() == "MEMBER2015")">Member2015</option>
                </select>
                <div class="description">
                    <p class="descriptiontext">
                        Specifies which Capto product the organization will be configured to use.
                    </p>
                </div>
            </td>
        </tr>

    </table>
    <table>
        <tr>
            <td class="lefttdhelp helptooltip"><span>Click for help/guide:<i class="material-icons infoicon">info</i></span></td>
            <td class="middletd">
                <div class="infohelp">
                    <p class="infohelptext">
                    <br/>
                    <p>Følg guide på følgende link:</p>
                    <br />
                    <p><a href="https://dokuwiki.systemhosting.dk/doku.php?id=capto:opret_ny_kunde_ny" target="_blank">DokuWiki</a><p/>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" class="button" class:hover="button:hover" id="buttonSubmit" value="Create" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>

}