@model ColumbusPortal.Models.CaptoModel
@{
    ViewBag.Title = "Capto > User > Create Batch > Verify";
}

<h1 class="title">@ViewBag.Title</h1>
<p>Please verify the details before committing them</p>

@using (Html.BeginForm("CPOCreateUserBatch", "Capto"))
{
    <fieldset>
        <legend>Verify</legend>
        <table>
            <tr>
                <td colspan="2">@if (Model.Message != null)
                { <div class="message">@Model.Message</div> }</td>
            </tr>

            <tr>
                <td class="lefttd">Organization</td>
                <td class="middletd">@Model.CPOUserList[0].Organization</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="headertd">FirstName</td>
                <td class="headertd">LastName</td>
                <td class="headertd">Primary Email</td>
                <td class="headertd">Password</td>
                <td class="headertd">PwdNeverExp.</td>
                <td class="headertd">Email aliases</td>
            </tr>

            @foreach (ColumbusPortal.Models.CustomCPOUser user in Model.CPOUserList)
            {
                <tr>
                    <td class="middletd">@user.FirstName</td>
                    <td class="middletd">@user.LastName</td>
                    <td class="middletd">@user.UserPrincipalName</td>
                    <td class="middletd">@user.Password</td>
                    <td class="middletd">@user.PasswordNeverExpires</td>
                    <td>
                        @if (user.EmailAddresses.Count > 0)
                        {
                            <textarea rows="@user.EmailAddresses.Count" disabled="disabled">@string.Join("\r\n", user.EmailAddresses)</textarea>
                        }
                    </td>
                </tr>
            }
        </table>
        <br />
        <input type="submit" class="button" class:hover="button:hover" id="buttonSubmit" value="Create" onclick="buttonSubmit.disabled = true; this.form.submit()" />
    </fieldset>
}