@model ColumbusPortal.Models.CaptoModel
@{
    ViewBag.Title = "Office365 > Enable Customer";
}
@section script {
    <script>
        $(document).ready(function () {
            $("select[name=organization]").change(function () {
                $("#TenantInformation").html("Loading, this could take some time...");
                CPOGetTenantInformation();
            });

            $("#TenantInformation").html("Loading, this could take some time...");
            CPOGetTenantInformation();
        });

    </script>
}
<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to enable Office 365 a customer.</p>
@using (Html.BeginForm("CPOEnable365Customer", "Capto"))
{
    <fieldset>
        <legend>Enable 365</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Organization</td>
                <td class="middletd">
                    <select name="organization">
                        @foreach (string organization in Model.CPOOrganizations)
                        {
                            <option @if (Model.ActionFailed) { if (organization == Model.CPOEnable365Customer.Organization) { @: selected="selected"
                                                                        } }>
                                @organization
                                                                    </option>
                        }
                    </select>
                </td>
            </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>Current Office 365 configuration</legend>
            <table>
                <tr>
                    <td class="middletd">
                        <div id="TenantInformation"></div>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <table>
            <tr>
                <td class="lefttd tooltip"><span>TenantID<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    <input name="tenantid" placeholder="43eea929-d726-4742-83a9-603c12a0d195" @if (Model.ActionFailed) { @: value="@Model.CPOEnable365Customer.TenantID"
                           } />

                    <div class="description">
                        <p class="descriptiontext">
                            Default for the Capto tenant is 43eea929-d726-4742-83a9-603c12a0d195
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>TenantAdmin<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    <input name="tenantadmin" placeholder="admin@capto365.onmicrosoft.com" @if (Model.ActionFailed) { @: value="@Model.CPOEnable365Customer.TenantAdmin"
                                                      } />

                    <div class="description">
                        <p class="descriptiontext">
                            Default for the Capto tenant is admin@capto365.onmicrosoft.com
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>TenantPass<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    <input name="tenantpass" placeholder="SYSop4..." @if (Model.ActionFailed) { @: value="@Model.CPOEnable365Customer.TenantPass"
                                                      } />

                    <div class="description">
                        <p class="descriptiontext">
                            Default we should use for our customers is SYSop4...
                        </p>
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <p style="text-align: left" class="warning">Remember if only ProPlus is needed, use the default Capto tenant.</p>
        <p style="text-align: left" class="warning">If customer need it's own tenant, it has to be created in Crayon/SH portal first</p>
        <br />
        <table>
            <tr>
                <td class="lefttdhelp helptooltip"><span>Click for help/guide<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    <div class="infohelp">
                        <p class="infohelptext">
                        <br />
                        <p>This will write a 365 configuration to the CPO solution, so it can be managed in the future..</p>
                        <p>You can get the TenantID from here: <a href="https://partnercenter.microsoft.com/en-us/pcv/customers/list" target="_blank">link</a></p>
                        <br/>
                        <p>Picture below is for reference in the SH partner center..</p>
                        <br/>
                        <br/>
                        <p><img src="~/Images/CPOTenantID2.png" alt="TenantID" width="680"></P>
                        <br />
                        <br />
                        <p>If you input the tenantID for Capto (43eea929-d726-4742-83a9-603c12a0d195), extentionattribute11 will be blank, and the organizations users will be synced to the CPO tenant.</p>
                        <P>If you however input a different tenantID, the extentionattribute11 will be filled out and the users will not sync to the CPO tenant.</P>
                        <p>This is the point as it will give the option for organizations to have their own 365 tenant, and seperate services in the cloud.</p>
                        <br/>
                        <p style="font-weight: bold">Remember that each seperate tenant needs their own AD Connect (DirSync) server! </p>
                        <br/>
                        <p>When the customer has it's own tenantID, you have to make sure that the Systemhosting CSP can manage the customer. It is not enough to create the tenant in Crayon..</p>
                        <p>To get management possibilities for a seperate tenant, do the following:</p>
                        <br/>
                        <p>1. Log in to the tenants portal with the admin user.</p>
                        <p>2. When logged in, click the below links and accept the invitation: </p>
                        <br/>
                        <p><a href="https://portal.office.com/partner/partnersignup.aspx?type=ResellerRelationship&id=192000c8-bae3-43e3-8ac1-5e811985bb42&csp=1&msppid=0" target="_blank">Systemhosting</a></p>
                        <p></p>
                        <p><a href="https://portal.office.com/partner/partnersignup.aspx?type=ResellerRelationship&id=8ae0c52d-cc01-4513-a45a-a9aebffc1a72&csp=1&msppid=0" target="_blank">Crayon</a></p>
                        <p></p>
                        <br/>
                        <p>3. You should end up with both Crayon and SH as partner relations as seen below.</p>
                        <br/>
                        <p><img src="~/Images/CPOTenantID3.png" alt="TenantID" width="680"></p>
                        <br/>
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" class="button" class:hover="button:hover" id="buttonSubmit" value="Enable 365" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit(); " />
    </fieldset>

}