@model ColumbusPortal.Models.UserModel
@{
    ViewBag.Title = "User > Disable";
}
@section script {
    <script>
        $(document).ready(function () {
            if (navigator.userAgent.match(/msie/gi)) { alert('This page is not supported in MSIE'); }

            GetADUsersList();

            $("select[name=organization]").change(function () {
                $("select[name=userprincipalname]").html('<option>loading...</option>');

                GetADUsersList();

            });
        });

        function Confirm() {
            if ($("input[name=confirm]").prop('checked')) {
                $.confirm({
                    theme: 'light',
                    type: 'red',
                    typeAnimated: true,
                    title: 'WARNING:',
                    content: '<b>THIS WILL DISABLE THE USER!</b>' +
                             '<p>Remember to remove the Office 365 licens if applicable...' +
                             '<p><br />',
                    buttons: {
                        confirm: function () {
                            $("input[name=confirm]").prop("checked", true);
                        },
                        cancel: function () {
                            $("input[name=confirm]").prop("checked", false);
                        },
                    }
                });
            }
        }
    </script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to disable AD users and hide users on the exchange address lists</p>
<br />

@using (Html.BeginForm("Disable", "User"))
{
    @Html.AntiForgeryToken()
<fieldset>
    <legend>Disable User</legend>
    <table>
        <tr>
            <td colspan="2">
                <div id="messageDiv">
                    @if (Model.Message != null)
                    {
                        <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                    }
                </div>
                <div id="okMessageDiv">
                    @if (Model.OKMessage.Count > 0)
                    {
                        <div class="okmessage">
                            @foreach (string msg in Model.OKMessage)
                            {
                                <p>@msg</p>
                            }
                            <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                        </div>
                    }
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="lefttd">Organization</td>
            <td class="middletd">
                <select name="organization">
                    @foreach (string organization in Model.Organizations)
                    {
                        <option @if (Model.ActionFailed) { if (organization == Model.DisableUser.Organization) { @: selected="selected"
                                                                        } } value="@organization.Split(' ')[0]">
                            @organization
                                                                    </option>
                    }
                </select>
                <span class="mandatory">*</span>
            </td>
        </tr>
        <tr>
            <td class="lefttd">AD User</td>
            <td class="middletd">
                <select name="userprincipalname"><option>loading...</option></select>
                <span class="mandatory">*</span>
            </td>
        </tr>
        <tr class="hide">
            <td class="lefttd">Confirm<br /></td>
            <td>
                <input name="confirm" id="confirm" type="checkbox" class="cbx hidden" @if (Model.ActionFailed) { if (Model.DisableUser.Confirm) { @: checked="checked"
                                                                                                                                         } } onclick="Confirm()" />
                <label for="confirm" class="lbl"></label>
            </td>
        </tr>
    </table>
    <div id="loading" name="loading" class="loading" hidden>
        <table>
            <tr>
                <td colspan="2">
                    <span><img src="~/Images/loading.gif" /></span>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <input type="submit" class="button" value="Disable User" id="buttonSubmit" onclick="buttonSubmit.disabled = true; StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>
}