@model ColumbusPortal.Models.ServiceModel
@{
    ViewBag.Title = "Service > ExpandCPURAM";
    Html.EnableClientValidation(true);
}
@section script {

    <script>
        $(document).ready(function () {

            GetVMServers('lvl25');

            var job = 'expandcpuram'
            GetScheduledJobsJSON(job);
            $("#scheduledjobs").html("Loading...");

            $("select[name=vmid]").html('<option>loading, this could take some time, (VMM is sooo slow)......</option>').change(function () {

                GetVMInfo();
                $("#vminfo").html("Loading...");
            });

            $("#vminfo").html("Loading...");
            GetVMInfo();

            var d = new Date(),
                // ' 01:00' there has to be a space for the jquery to understand...
            date = (d.getUTCFullYear()) + '-' + (d.getUTCMonth() + 1) + '-' + (d.getUTCDate() + 1) + ' 01:00';

            jQuery.datetimepicker.setLocale('da');
            jQuery('#datetime').datetimepicker({

                theme: 'default',
                dayOfWeekStart: 1,
                format: 'Y-m-d H:i',
                inline: false,
                weeks: true,
                value: date

            });

        });

        $('#cpu').on('paste input', function () {
            var number = $(this).val()

            if (number > 4) {
                $.alert({
                    theme: 'light',
                    type: 'red',
                    typeAnimated: true,
                    title: 'WARNING:',
                    content: 'For expansions over 4 cores, please send the task to Drift..',
                });
                $(this).val('4');
            }
        });

        $('#ram').on('paste input', function () {
            var number = $(this).val()

            if (number > 16) {
                $.alert({
                    theme: 'light',
                    type: 'red',
                    typeAnimated: true,
                    title: 'WARNING:',
                    content: 'For expansions over 16 GB of RAM, please send the task to Drift..',
                });
                $(this).val('16');
            }
        });
    </script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to expand a VM CPU/RAM..</p>
<br />

@using (Html.BeginForm("ExpandCPURAM", "Service"))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Expand CPU/RAM</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="lefttd"><span>VM Servers<i class="material-icons infoicon"></i></span></td>
                <td class="middletd">
                    <select name="vmid"><option>loading...</option></select>
                    <span class="mandatory">*</span>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset  class="hide">
        <legend class="sublegend">Current VM configuration</legend>
        <table>
            <tr>
                <td class="middletd">
                    <div class="middletd" id="vminfo">Waiting</div>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <table>
            <tr class="hide">
                <td class="longtd">
                    <span class="warning2">If ex. CPU count should stay the same, enter the current core number instead of nothing. Every field must be filled out.</span>
                </td>
            </tr>
        </table>
        <br />
        <table>
            <tr class="hide">
                <td class="lefttd"><span>Opgave nr<i class="material-icons infoicon"></i></span></td>
                <td class="middletd">
                    @Html.EditorFor(m => m.ExpandCPURAM.TaskID, new { htmlAttributes = new { placeholder = "109000" } })
                    <span class="mandatory">*</span>
                    <div class="description">
                        <p class="descriptiontext">
                            Enter TaskID (Opgave nr.) from Navision..
                        </p>
                    </div>
                    <div>@Html.ValidationMessageFor(m => m.ExpandCPURAM.TaskID, "", new { @class = "warning2" })</div>
                </td>
            </tr>
            <tr class="hide">
                <td class="lefttd"><span>Date & Time<i class="material-icons infoicon"></i></span></td>
                <td class="middletd">
                    <input id="datetime" name="datetime" placeholder="YYYY-MM-DD 00:00" type="text" 
                           @if (Model.ActionFailed) {  @: value="@Model.ExpandCPURAM.DateTime"
                                                                                                    } />
                    <span class="mandatory">*</span>
                </td>
            </tr>

            <tr class="hide">
                <td class="lefttd tooltip"><span>Expand CPU to<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    @Html.EditorFor(m => m.ExpandCPURAM.CPU, new { htmlAttributes = new { name = "cpu", id = "cpu", placeholder = "4", type = "number", @class = "ramwarning" } })
                    <span class="mandatory">*</span>

                    <div class="description">
                        <p class="descriptiontext">
                            Enter the CPU cores you want to assign.
                        </p>
                    </div>
                    <div>@Html.ValidationMessageFor(m => m.ExpandCPURAM.CPU, "", new { @class = "warning2" })</div>
                </td>
            </tr>
            <tr class="hide">
                <td class="lefttd tooltip"><span>Expand RAM to<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    @Html.EditorFor(m => m.ExpandCPURAM.RAM, new { htmlAttributes = new { name = "ram", id = "ram", placeholder = "4", type = "number", @class = "ramwarning" } })
                    <span class="mandatory">*</span>
                    <div class="description">
                        <p class="descriptiontext">
                            Enter the RAM in whole GB's you want to assign ex 8.
                        </p>
                    </div>
                    <div>@Html.ValidationMessageFor(m => m.ExpandCPURAM.RAM, "", new { @class = "warning2" })</div>
                </td>
            </tr>

            <tr class="hide">
                <td class="lefttd tooltip"><span>Email to Notify<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    @Html.EditorFor(m => m.ExpandCPURAM.Email, new { htmlAttributes = new { name = "email", id = "email", placeholder = "xxx@columbusglobal.com" } })
                    <span class="mandatory">*</span>
                    <div class="description">
                        <p class="descriptiontext">
                            Enter the email which will be notified when task is complete.
                        </p>
                    </div>
                    <div>@Html.ValidationMessageFor(m => m.ExpandCPURAM.Email, "", new { @class = "warning2" })</div>
                </td>
            </tr>
        </table>
        <div id="loading" name="loading" class="loading" hidden>
            <table>
                <tr>
                    <td colspan="2">
                        <span><img src="~/Images/loading.gif" /></span>
                    </td>
                </tr>
            </table>
        </div>
        <br />
    <input type="submit" class="button" id="buttonSubmit" value="Expand CPU/RAM" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>
<fieldset>
    <legend class="sublegend">Current Schedules</legend>
    <table>
        <tr>
            <td>
                <div id="scheduledjobs">Waiting</div>
            </td>
        </tr>
    </table>
    <input type="button" name="buttonRemove" id="buttonRemove" class="button" value="Remove Selected Schedules" onclick="RemoveSelectedSchedules('expandcpuram')" hidden />
</fieldset>

}
