@model ColumbusPortal.Models.ServiceModel
@{
    ViewBag.Title = "Service > ExpandVHD";
}
@section script {

    <script>
        $(document).ready(function () {

            GetVMServers('lvl25');

            var job = 'expandvhd'
            GetScheduledJobsJSON(job);
            $("#scheduledjobs").html("Loading...");

            var alert = 'Freespace'
            GetLatestAlerts(alert);
            $("#latestalerts").html("Contacting DB... please be patient..");

            $("select[name=vmid]").html('<option>loading, this could take some time, (VMM is sooo slow)......</option>').change(function () {

                GetVMVHDs();
                $("select[name=vhdid]").html('<option>loading, this could take some time......</option>');
            });

            var d = new Date(),
                // ' 01:00' there has to be a space for the jquery to understand...
            date = (d.getUTCFullYear()) + '-' + (d.getUTCMonth() + 1) + '-' + (d.getUTCDate() + 1) + ' 01:00';

            jQuery.datetimepicker.setLocale('da');
            jQuery('#datetime').datetimepicker({
                minDate: 0,
                theme: 'default',
                dayOfWeekStart: 1,
                format: 'Y-m-d H:i',
                inline: false,
                weeks: true,
                value: date
                
            });

        });

        $('#gb').on('paste input', function () {
            var number = $(this).val()

            if (number > 50) {
                $.alert({
                    theme: 'light',
                    type: 'red',
                    typeAnimated: true,
                    title: 'WARNING:',
                    content: 'For expansions over 50 GB, please send the task to Drift..',
                });
                $(this).val('50');
            }
        });

    </script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to expand a VM disk..</p>
<br />

@using (Html.BeginForm("ExpandVHD", "Service"))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Expand VHD</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="lefttd"><span>VM Servers<i class="material-icons infoicon"></i></span></td>
                <td class="middletd">
                    <select name="vmid"><option>loading...</option></select>
                    <span class="mandatory">*</span>
                </td>
            </tr>
            <tr>
                <td class="lefttd"><span>VHDs<i class="material-icons infoicon"></i></span></td>
                <td class="middletd">
                    <select name="vhdid"><option>Waiting...</option></select>
                    <span class="mandatory">*</span>
                </td>
            </tr>

        </table>
        <table>

            <tr class="hide">
                <td class="lefttd"><span>Date & Time<i class="material-icons infoicon"></i></span></td>
                <td class="middletd">
                    <input id="datetime" name="datetime" placeholder="YYYY-MM-DD 00:00" type="text" @if (Model.ActionFailed) {  @: value="@Model.ExpandVHD.DateTime"
                                                                                                                                                                     } />
                    <span class="mandatory">*</span>

                </td>
            </tr>
            <tr class="hide">
                <td class="lefttd"><span>Opgave nr<i class="material-icons infoicon"></i></span></td>
                <td class="middletd">
                    @Html.EditorFor(m => m.ExpandVHD.TaskID, new { htmlAttributes = new { placeholder = "109000" } })

                    <span class="mandatory">*</span>
                    <div class="description">
                        <p class="descriptiontext">
                            Enter TaskID (Opgave nr.) from Navision..
                        </p>
                    </div>
                    <div>@Html.ValidationMessageFor(m => m.ExpandVHD.TaskID, "", new { @class = "warning2" })</div>
                </td>
            </tr>
            <tr class="hide">
                <td class="lefttd tooltip"><span>GB to expand with<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    @Html.EditorFor(m => m.ExpandVHD.GB, new { htmlAttributes = new { id = "gb", min = "1", placeholder = "MAX 50", type = "number" } })

                    <span class="mandatory">*</span>
                    <div class="description">
                        <p class="descriptiontext">
                            Enter GB in whole number. ex. 10
                        </p>
                    </div>
                    <div>@Html.ValidationMessageFor(m => m.ExpandVHD.GB, "", new { @class = "warning2" })</div>
                </td>
            </tr>
            <tr class="hide">
                <td class="lefttd tooltip"><span>Email to Notify<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    @Html.EditorFor(m => m.ExpandVHD.Email, new { htmlAttributes = new { name = "email", id = "email", placeholder = "xxx@columbusglobal.com" } })
                                                                              
                    <span class="mandatory">*</span>
                    <div class="description">
                        <p class="descriptiontext">
                            Enter the email which will be notified when task is complete.
                        </p>
                    </div>
                    <div>@Html.ValidationMessageFor(m => m.ExpandVHD.Email, "", new { @class = "warning2" })</div>
                </td>
            </tr>
        </table>  
        <div id="loading" name="loading" class="loading" hidden>
            <table>
                <tr>
                    <td colspan="2">
                        <span><img src="~/Images/loading.gif" /></span>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <input type="submit" class="button" id="buttonSubmit" value="Expand VHD" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
    </fieldset>
    <br />
    <fieldset>
        <legend class="sublegend">Current Schedules</legend>
        <table>
            <tr>
                <td>
                    <div id="scheduledjobs">Waiting</div>
                </td>
            </tr>
        </table>
        <input type="button" name="buttonRemove" id="buttonRemove" class="button" value="Remove Selected Schedules" onclick="RemoveSelectedSchedules('expandvhd')" hidden />
    </fieldset>
    <br />
    <fieldset>
        <legend class="sublegend">Current Freespace warnings</legend>
        <table>
            <tr>
                <td>
                    <div id="latestalerts">Waiting</div>
                </td>
            </tr>
        </table>
    </fieldset>

}
