@model ColumbusPortal.Models.MailModel
@{
    ViewBag.Title = "Mail > Create DistributionGroup > Success";
}

<h1 class="title">@ViewBag.Title</h1>
<p>Successfully created distributiongroups.</p>
<br />

<fieldset>
    <legend>Result</legend>
    <table>
        <tr>
            <td colspan="2">@if(Model.Message != null) { <div class="message">@Model.Message</div> }</td>
        </tr>
        <tr>
            <td class="lefttd">Organization</td>
            <td class="righttd">@Model.DistributionGroup.Organization</td>
        </tr>
        <tr>
            <td class="lefttd">Group Email Address</td>
            <td class="righttd">@Model.DistributionGroup.UserName@@@Model.DistributionGroup.DomainName</td>
        </tr>
        <tr>
            <td class="lefttd">Group Manager</td>
            <td class="righttd">@Model.DistributionGroup.ManagedBy</td>
        </tr>
        <tr>
            <td class="lefttd">Group Name</td>
            <td class="righttd">@Model.DistributionGroup.Name</td>
        </tr>
        <tr>
            <td class="lefttd">Allow External emails</td>
            <td class="righttd">@Model.DistributionGroup.RequireSenderAuthentication.ToString()</td>
        </tr>
    </table>
</fieldset>