@model ColumbusPortal.Models.MailModel
@{
    ViewBag.Title = "Mail > Create Mailbox";
}
@section script { 
    <script>
        $(document).ready(function () {
            GetDomainSelect();
            $("select[name=organization]").change(function () {
                GetDomainSelect();
                
            });

            $("select[name=type]").change(function () {
                var mbxType = $("select[name=type]").val()
                var emailTextarea = $("textarea[name=emailaddresses]");

                if (mbxType == 'RoomMailbox') {
                    emailTextarea.val("Not available for RoomMailbox.");
                    emailTextarea.prop("disabled", true);
                }
                else if (mbxType == 'EquipmentMailbox') {
                    emailTextarea.val("Not available for EquipmentMailbox.");
                    emailTextarea.prop("disabled", true);
                }
                else {
                    emailTextarea.val("");
                    emailTextarea.prop("disabled", false);
                }
            });
        });
        
    </script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to create special mailboxes (RoomMailbox, SharedMailbox)</p>
<br/>
@using (Html.BeginForm("CreateMailbox", "Mail"))
{
    @Html.AntiForgeryToken()
<fieldset>
    <legend>Create Mailbox</legend>
    <table>
        <tr>
            <td colspan="2">
                <div id="messageDiv">
                    @if (Model.Message != null)
                    {
                        <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                    }
                </div>
                <div id="okMessageDiv">
                    @if (Model.OKMessage.Count > 0)
                    {
                        <div class="okmessage">
                            @foreach (string msg in Model.OKMessage)
                            {
                                <p>@msg</p>
                            }
                            <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                        </div>
                    }
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="lefttd">Organization</td>
            <td>
                <select name="organization">
                    @foreach (string organization in Model.Organizations)
                    {
                        <option selected="@(Model.Mailbox.Organization != null && Model.Mailbox.Organization == organization)" value="@organization.Split(' ')[0]">@organization</option>
                    }
                </select>
                <span class="mandatory">*</span>
            </td>
        </tr>

        <tr class="hide">
            <td class="lefttd tooltip"><span>DisplayName<i class="material-icons infoicon">info</i></span></td>
            <td class="middletd">
                <input name="displayname" placeholder="Bogholderi" @if (Model.ActionFailed) {  @: value="@Model.Mailbox.DisplayName"
                                                                                                                                           } />
                <span class="mandatory">*</span>
                <div class="description">
                    <p class="descriptiontext">
                        Sets the displayname which will be shown in Outlook.
                    </p>
                </div>
            </td>
        </tr>
    </table>
        <table class="hide">
            <tr>
                <td class="lefttd">Primary email</td>
                <td class="lefttdaccepteddomain">
                    <input name="username" placeholder="bogholderi" @if (Model.ActionFailed) { @: value="@Model.Mailbox.UserName"
                                                                                                               } />
                </td>
                <td style="width:5px; margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;">@@</td>
                <td class="righttdaccepteddomain">
                    <select name="domainname"><option>loading...</option></select>
                </td>
            </tr>
        </table>
        <table class="hide">
        <tr>
            <td class="lefttd">Mailbox type</td>
            <td class="middletd">
                <select name="type">
                    <option @if (Model.ActionFailed)
                            {
                                if (Model.Mailbox.Type == "SharedMailbox")
                                {
                                    @:selected="selected"
                                }
                            }>
                        SharedMailbox
                    </option>
                    <option @if (Model.ActionFailed)
                            {
                                if (Model.Mailbox.Type == "RoomMailbox")
                                {
                                    @:selected="selected"
                                }
                            }>
                        RoomMailbox
                    </option>
                    <option @if (Model.ActionFailed)
                            {
                                if (Model.Mailbox.Type == "EquipmentMailbox")
                                { 
                                    @: selected="selected"
                                }
                            }>
                        EquipmentMailbox
                    </option>

                </select>
                <span class="mandatory">*</span>
            </td>
        </tr>
        <tr>
            <td class="lefttd">Additional Aliases</td>
            <td>@if (Model.ActionFailed && Model.Mailbox.EmailAddresses != null)
                {
                    <textarea name="emailaddresses" rows="10" placeholder="Write one alias per line">@string.Join("\r\n", Model.Mailbox.EmailAddresses)</textarea>
                }
                else {
                    <textarea name="emailaddresses" rows="10" placeholder="Write one alias per line"></textarea>
                }
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" class="button" id="buttonSubmit" value="Create Mailbox" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>
}