@model ColumbusPortal.Models.MailModel
@{
    ViewBag.Title = "Mail > Enable SikkerMail";
}
@section script {
<script>
        $(document).ready(function () {
            if (navigator.userAgent.match(/msie/gi)) { alert('This page is not supported in MSIE'); }

            GetSendAsGroups();

            $("select[name=organization]").change(function () {
                $("select[name=distinguishedname]").html('<option>loading...</option>');

                GetSendAsGroups();

            });
        });

        function setGrey() {
            var el = document.getElementById("updateall");
            var org = document.getElementById("org");
            var group = document.getElementById("group");
            var alias = document.getElementById("alias");
            var force = document.getElementById("force");
            var remove = document.getElementById("remove");
            if (el.checked) {
                org.disabled = true;
                group.disabled = true;
                alias.disabled = true;
                force.disabled = true;
                remove.disabled = true;
            } else {
                org.disabled = false;
                group.disabled = false;
                alias.disabled = false;
                force.disabled = false;
                remove.disabled = false;
            }
        }

</script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to enable Sikkermail on a SendAs group</p>

@using (Html.BeginForm("EnableSikkerMail", "Mail"))
{
    <fieldset>
        <legend>Enable Sikkermail</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>


            <tr>
                <td class="lefttd">Organization</td>
                <td>
                    <select name="organization" id="org">
                        @foreach (string organization in Model.Organizations)
                        {
                            <option selected="@(Model.ActionFailed && Model.Sikkermail.Organization == organization)">@organization</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>SendAs Group:<i class="material-icons infoicon">info</i></span></td>
                <td class="righttd">
                    <select name="distinguishedname" class="grey" id="group"><option>loading...</option></select>

                <div class="description">
                    <p class="descriptiontext">
                        Select the SendAs group that should be enabled for Sikkermail.
                    </p>
                </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>Alias<i class="material-icons infoicon">info</i></span></td>
                <td>
                    <input name="alias" class="grey" id="alias" placeholder="Alias to use for sikkermail conf" @if (Model.ActionFailed) { @: value="@Model.Sikkermail.Alias"
                                                                                                                                                                                          } />
                    <div class="description">
                        <p class="descriptiontext">
                            This will set the extentionattribute1 to ##B2SPIRIT#:#187#<b>Alias</b>;<b>Alias</b>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>Force<i class="material-icons infoicon">info</i></span></td>
                <td>
                    <input name="force" class="grey" id="force" type="checkbox" />
                    <div class="description">
                        <p class="descriptiontext">
                            By default, it should only be necessary to run this once per group. If the configuration is broken, you can use the force switch to overwrite the current conf..
                            This can NOT be used together with the remove switch!
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>Remove Sikkermail<i class="material-icons infoicon">info</i></span></td>
                <td>
                    <input name="remove" class="grey" id="remove" type="checkbox" />
                    <div class="description">
                        <p class="descriptiontext">
                            Use this checkbox to remove the Sikkermail configuration from the selected SendAs Group. If it is the only/last group, please contact DMA so he can remove the configuration on the postfix servers.
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>Update All Groups<i class="material-icons infoicon">info</i></span></td>
                <td>
                    <input name="updateall" id="updateall" type="checkbox" onchange="setGrey();" />
                    <div class="description">
                        <p class="descriptiontext">
                            Use this checkbox to update the attributes on all Sikkermail enabled groups.. This will only fix the AD attributes, not GPO, Group membership or the postfix servers!
                        </p>
                    </div>
                </td>
            </tr>

        </table>
        <br />
        <input type="submit" class="button" class:hover="button:hover" id="buttonSubmit" value="Enable Sikkermail" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
    </fieldset>
}