@model ColumbusPortal.Models.MailModel
@{
    ViewBag.Title = "Mail > Remove Alias";
}
@section script { 
    <script>
        $(document).ready(function () {
            if (navigator.userAgent.match(/msie/gi)) { alert('This page is not supported in MSIE'); }

            $("select[name=organization]").change(function () {
                GetADUsersList();

                $("#existingAliases").html("");
            });
            $("select[name=userprincipalname]").change(function () {
                GetAliases();
            });
            GetADUsersList();
        });
    </script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form remove email aliases from a user account.</p>
<br />

@using (Html.BeginForm("RemoveAlias", "Mail"))
{
    @Html.AntiForgeryToken()
<fieldset>
    <legend>Remove Alias</legend>
    <table>
        <tr>
            <td colspan="2">
                <div id="messageDiv">
                    @if (Model.Message != null)
                    {
                        <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                    }
                </div>
                <div id="okMessageDiv">
                    @if (Model.OKMessage.Count > 0)
                    {
                        <div class="okmessage">
                            @foreach (string msg in Model.OKMessage)
                            {
                                <p>@msg</p>
                            }
                            <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                        </div>
                    }
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="lefttd">Organization</td>
            <td class="middletd">
                <select name="organization">
                    @foreach (string organization in Model.Organizations)
                    {
                        <option @if (Model.ActionFailed) { if (organization == Model.Alias.Organization) { @: selected="selected"
                                                                } } value="@organization.Split(' ')[0]">
                            @organization
                                                            </option>
                    }
                </select>
                <span class="mandatory">*</span>
            </td>
        </tr>
        <tr class="hide">
            <td class="lefttd">Existing aliases:</td>
            <td class="middletd">
                <div id="existingAliasesDiv">
                    <ul id="existingAliases"></ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd">AD User</td>
            <td class="middletd">
                <select name="userprincipalname"><option>loading...</option></select>
                <span class="mandatory">*</span>
            </td>
        </tr>
        <tr class="hide">
            <td class="lefttd">Remove email aliases</td>
            <td class="middletd">
                @if (Model.ActionFailed)
                {
                    <textarea name="emailaddresses" rows="10" placeholder="Write one alias per line">@string.Join("\r\n", Model.Alias.EmailAddresses)</textarea>
                }
                else
                {
                    <textarea name="emailaddresses" rows="10" placeholder="Write one alias per line"></textarea>
                }
                <span class="mandatory">*</span>
            </td>
        </tr>
    </table>
    <div id="loading" name="loading" class="loading" hidden>
        <table>
            <tr>
                <td colspan="2">
                    <span><img src="~/Images/loading.gif" /></span>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <input type="submit" class="button" value="Remove Alias" id="buttonSubmit" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>
}