@model ColumbusPortal.Models.MailModel
@{
    ViewBag.Title = "Mail > Set All Mailbox Plans";
}
@section script {
    <script>
        function DisableButtons() {
            $('#buttonAuto').attr('disabled', 'disabled')
            $('#buttonMax').attr('disabled', 'disabled')
        }

        function SetMailboxPlanMax() {
            DisableButtons();
            $('input[name=mailboxplan]').val('max');
            setmailboxplan_form.submit();
        }
        function SetMailboxPlanAuto() {
            DisableButtons();
            $('input[name=mailboxplan]').val('auto');
            setmailboxplan_form.submit();
        }
    </script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to set mailbox plans for an entire organization</p>

<form id="setmailboxplan_form" method="post" action="/Mail/SetAllMailboxPlans">
    <fieldset>
        <legend>Set All Mailbox Plans</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Organization</td>
                <td>
                    <select name="organization">
                        @foreach (string organization in Model.Organizations)
                        {
                            <option selected="@(Model.MailboxPlan.Organization != null && Model.MailboxPlan.Organization == organization)">@organization</option>
                        }
                    </select>
                </td>
            </tr>
        </table>

        <div>
            <ul style="font-size: small; margin: 1em">
                <li>Auto: Auto-scale all mailbox plans. </li>
                <li>
                    <ul style="padding-left: 2em; list-style: circle; ">
                        <li>&lt;= 1.5GB - 2GB plan</li>
                        <li>&lt;= 8GB - 10GB plan</li>
                        <li>&lt;= 18GB - 20GB plan</li>
                        <li>&lt;= 28GB - 30GB plan</li>
                        <li>&lt;= 38GB - 40GB plan</li>
                        <li>&gt;38GB - 50GB plan</li>
                    </ul>
                </li>
                <li>50GB: All mailboxes set to 50GB</li>
            </ul>
        </div>
        <br />
        <input type="hidden" class="button" class:hover="button:hover" name="mailboxplan" value="auto" />
        <input id="buttonMax" class="button" class:hover="button:hover" type="button" value="Set all 50GB" onclick="ClearMessages(); SetMailboxPlanMax()" /> <input id="buttonAuto" class="button" class:hover="button:hover" type="button" value="Set all AUTO" onclick="ClearMessages(); StartSubmitButtonMessage(); SetMailboxPlanAuto()" />
    </fieldset>
</form>