@model ColumbusPortal.Models.MailModel
@{
    ViewBag.Title = "Set Out Of Office Reply";
}
@section script {
<script>

    function GetOOF() {
        $("#OOFGET").prop('value', 'loading...');

        var organization = $("select[name=organization]").val();
        var userprincipalname = $("select[name=userprincipalname]").val();

        $.get("/Ajax/GetCurrentOOF", { organization: organization, userprincipalname: userprincipalname }, function (data) {
            var json = JSON.parse(data);
            if (json.AutoReplyState != "Disabled") {

                if (json.StartTime || json.EndTime != null) {
                    $('#time').prop('checked', true);
                    $('.time').prop("disabled", false);
                    $("#starttime").prop('value', json.StartTime);
                    $("#endtime").prop('value', json.EndTime);
                }

                if (json.AutoReplyState != "Enabled") {
                    if (json.ExternalAudience != "None") {
                        tinymce.get('internal').setContent(json.InternalMessage);
                        tinymce.get('external').setContent(json.ExternalMessage);
                        $("#OOFGET").prop('value', 'Get Current Out Of Office');
                        $('#OOFGET').prop("disabled", false);
                    }
                    else {
                        tinymce.get('internal').setContent(json.InternalMessage);
                        $("#OOFGET").prop('value', 'Get Current Out Of Office');
                        $('#OOFGET').prop("disabled", false);
                    }
                }
                else {
                    if (json.ExternalAudience != "None") {
                        tinymce.get('internal').setContent(json.InternalMessage);
                        tinymce.get('external').setContent(json.ExternalMessage);
                        $("#OOFGET").prop('value', 'Get Current Out Of Office');
                    }
                    else {
                        tinymce.get('internal').setContent(json.InternalMessage);
                        $("#OOFGET").prop('value', 'Get Current Out Of Office');
                        $('#OOFGET').prop("disabled", false);
                    }
                }
            }
            else {
                $("#OOFGET").prop('value', 'Get Current Out Of Office');
                $('#OOFGET').prop("disabled", false);
            }
        });
    }

    function toggle() {
        var el = document.getElementById("time");
        var starttime = document.getElementById("starttime");
        var endtime = document.getElementById("endtime");
        if (el.checked) {
            $('.time').prop("disabled", false);
        } else {
            $('.time').prop("disabled", true);
        }
    };

    $(document).ready(function () {
        if (navigator.userAgent.match(/msie/gi)) { alert('This page is not supported in MSIE'); }

        GetMailbox("UserMailbox");

        $("select[name=organization]").change(function () {
            GetMailbox("UserMailbox");

        });
    });

    jQuery.datetimepicker.setLocale('da');
    jQuery('#starttime').datetimepicker({
        minDate: 0,
        theme: 'default',
        dayOfWeekStart: 1,
        format: 'm-d-Y H:i',
        inline: false,
        weeks: true

    });
    jQuery('#endtime').datetimepicker({
        minDate: 0,
        theme: 'default',
        dayOfWeekStart: 1,
        format: 'm-d-Y H:i',
        inline: false,
        weeks: true

    });

</script>
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
    tinymce.init({
        selector: 'textarea',
        height: '150',
        width: '664',
        branding: false,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code textcolor colorpicker'
        ],
        toolbar1: 'insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor',
        content_css: [
          '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
          '../Scripts/tinymce/skins/lightgray/skin.min.css'],
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        }
    });

</script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to add an Auto reply to a users mailbox.</p>
<br />

@using (Html.BeginForm("SetOOFMessage", "Mail"))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="lefttd">Organization</td>
                <td class="middletd">
                    <select name="organization">
                        @foreach (string organization in Model.Organizations)
                        {
                            <option @if (Model.ActionFailed) { if (organization == Model.OOF.Organization) { @: selected="selected"
                                              } } value="@organization.Split(' ')[0]">
                                @organization
                            </option>
                        }
                    </select>
                    <span class="mandatory">*</span>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Mailbox</td>
                <td class="middletd">
                    <select name="userprincipalname"><option>loading...</option></select>
                    <span class="mandatory">*</span>
                </td>
            </tr>
        </table>
            <div id="loading" name="loading" class="loading" hidden>
                <table>
                    <tr>
                        <td colspan="2">
                            <span><img src="~/Images/loading.gif" /></span>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="hide">
                <input type="button" class="button" id="OOFGET" value="Get Current Out Of Office" onclick="OOFGET.disabled = true; GetOOF()" />
            </div>
            <br />
        <table>
            <tr class="hide" hidden>
                <td class="lefttd"><span>Start / End Time</span></td>
                <td class="middletd"><span></span></td>
            </tr>
            <tr class="hide" hidden>
                <td class="lefttd">
                    <input type="checkbox" onchange="toggle();" id="time" name="time" class="cbx hidden"/><label for="time" class="lbl"></label>
                </td>

                <td class="middletd">
                    <input class="time" style="width:47%" id="starttime" disabled="disabled" name="starttime" placeholder="MM-DD-YYYY 00:00" type="text" @if (Model.ActionFailed) {  @: value="@Model.OOF.StartTime"
                                                                                          } />
                    <input class="time" style="width:47%" id="endtime" disabled="disabled" name="endtime" placeholder="MM-DD-YYYY 00:00" type="text" @if (Model.ActionFailed) {  @: value="@Model.OOF.EndTime"
                                                                                                                     } />

                </td>
            </tr>
            <tr class="hide" hidden>
                <td class="lefttd">Internal Message</td>
                <td class="middletd">
                    <textarea id="internal" name="internal"></textarea>
                </td>
            </tr>
            <tr class="hide" hidden>
                <td class="lefttd">External Message</td>
                <td class="middletd">
                    <textarea id="external" name="external"></textarea>
                </td>
            </tr>
        </table>
        <br />
        <br />
    <input type="submit" class="button" value="Set Out Of Office Reply" id="buttonSubmit" onsubmit="tinyMCE.triggerSave();" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>
}