@model SystemHostingPortal.Models.ServiceModel
@{
    ViewBag.Title = "Service > Customer Report > Success";
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to create a data usage report</p>

@using (Html.BeginForm("CustomerReport", "Service")) {
<fieldset>
    <legend>Select Organization</legend>
    <table>
        <tr>
            <td colspan="2">@if(Model.Message != null) { <div class="message">@Model.Message</div> }</td>
        </tr>
        @if (Model.MessageList.Count > 0)
        {
            foreach (string message in Model.MessageList)
            {
                <tr>
                    <td colspan="2"><div class="message">@message</div></td>
                </tr>
            }
        }
        <tr>
            <td class="lefttd">Organization</td>
            <td>
                <select name="organization">
                    @foreach(string organization in Model.Organizations) 
                    {
                        <option @if(organization == Model.CustomerReport.Organization) {
                                    @:selected="selected"
                                }>@organization</option>
                    }
                </select></td>
        </tr>
    </table>
    <br />
    <input type="submit" class="button" class:hover="button:hover" value="Create report" id="buttonSubmit" onclick="buttonSubmit.disabled = true; StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>
}
<fieldset>
    <legend>Customer Report</legend>
    
    <fieldset>
        <legend>Overview</legend>
        <a href="~/Service/CustomerReportCSV?organization=@Model.CustomerReport.Organization">View Excelformat</a>

        <table>
            <tr>
                <td>
                    <center>
                        <img src="~/Service/CustomerReportPieChartDisk?iUsage=@Model.CustomerReport.FileServerfUsed&iQuota=@Model.CustomerReport.FileServerfTotal" /><br />
                        <small>Fig 1. File Server usage</small>
                    </center>
                </td>
                <td valign="middle">
                    <p>FileServer Used: @Model.CustomerReport.FileServerUsed</p>
                    <p>FileServer Total: @Model.CustomerReport.FileServerTotal</p>
                    <p>FileServer Free: @Model.CustomerReport.FileServerFree</p>
                </td>
                <td valign="middle">

                    <p>AD Users: @Model.CustomerReport.ADUsersCount</p>
                    <p>Full Users: @Model.CustomerReport.ADFullUsersCount</p>
                    <p>Light Users: @Model.CustomerReport.ADLightUsersCount</p>
                    <br />
                    <p>Server Count: @Model.CustomerReport.ENTServersCount</p>
                    <p>All servers total storage: @Model.CustomerReport.DiskTotal GB</p>
                </td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>AD users</legend>
        <table>
            <tr>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
                <td><b>Light User</b></td>
            </tr>
            @foreach (SystemHostingPortal.Models.ADUser user in Model.CustomerReport.ADUsers)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.LightUser</td>
                </tr>
            }
        </table>
    </fieldset>

    <fieldset>
        <legend>Servers</legend>
        <table>
            <tr>
                <td><b>Name</b></td>
                <td><b>CPU</b></td>
                <td><b>RAM</b></td>
                <td style="text-align:left"><b>Operating System</b></td>
            </tr>
            @foreach (SystemHostingPortal.Models.ENTServer ent in Model.CustomerReport.ENTServers)
            {
                <tr>
                    <td>@ent.Name</td>
                    <td>@ent.CPU</td>
                    <td>@ent.RAM</td>
                    <td style="text-align:right">@ent.OS</td>
                </tr>
            }
        </table>
    </fieldset>

    <fieldset>
        <legend>Office365 billing</legend>
        <table>
            <tr>
                <td><b>PartnerName</b></td>
                <td><b>License</b></td>
                <td><b>Gyldig</b></td>
                <td><b>Tildelt</b></td>
                <td><b>Ledige</b></td>
            </tr>
            @foreach (SystemHostingPortal.Models.Info365 info in Model.CustomerReport.Info365s)
            {
                <tr>
                    <td>@info.PartnerName</td>
                    <td>@info.License</td>
                    <td>@info.ActiveUnits</td>
                    <td>@info.ConsumedUnits</td>
                    <td>@info.FreeUnits</td>
                </tr>
            }
        </table>
    </fieldset>
    
    <fieldset>
        <legend>SPLA Licenses:</legend>
        <table>
            <tr>
                <td><b>Full Users: @Model.CustomerReport.Licenses.FullUser.Count</b></td>
            </tr>
            <tr>
                <td>
                    @string.Join(", ", Model.CustomerReport.Licenses.FullUser)
                </td>
            </tr>
            <tr>
                <td><b>Light Users: @Model.CustomerReport.Licenses.LightUser.Count</b></td>
            </tr>
            <tr>
                <td>
                    @string.Join(", ", Model.CustomerReport.Licenses.LightUser)
                </td>
            </tr>
        </table>
    </fieldset>
    
</fieldset>