@model ColumbusPortal.Models.Level30Model
@{
    ViewBag.Title = "Level30 > Create Admin";
}
@section script {
    <script>
        $(document).ready(function () {
            GetAdminUsers();
            $("#adminusers").html("Loading...");
        });

        function info() {
            $.confirm({
                theme: 'light',
                type: 'green',
                typeAnimated: true,
                title: 'INFO:',
                content: 'The admin user will now be created on all ENT customers.' +
                         '<p>Please be patient..',
                buttons: {
                    OK: function () {
                        StartSubmitButtonMessage();
                        document.forms[0].submit();

                    },
                }
            });
        }
    </script>

}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to create a new Admin account.</p>
<br />

@using (Html.BeginForm("CreateAdmin", "Level30"))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Create Admin</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd">First name</td>
                <td class="middletd">
                    <input name="firstname" placeholder="John" @if (Model.ActionFailed) {  @: value="@Model.UserList[0].FirstName"
                                                                                                                } />
                    <span class="mandatory">*</span>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Last name</td>
                <td class="middletd">
                    <input name="lastname" placeholder="Doe" @if (Model.ActionFailed) {  @: value="@Model.UserList[0].LastName"
                                                                                                                } />
                    <span class="mandatory">*</span>
                </td>
            </tr>
            <tr>
                <td class="lefttd">SamAccountName</td>
                <td class="middletd">
                    <input name="samaccountname" placeholder="ADMINXXX" @if (Model.ActionFailed) {  @: value="@Model.UserList[0].SamAccountName"
                                                                                                                                           } />
                    <span class="mandatory">*</span>
                </td>
            </tr>
            <tr>
                <td class="lefttd">DisplayName</td>
                <td class="middletd">
                    <input name="displayname" placeholder="Admin User" @if (Model.ActionFailed) {  @: value="@Model.UserList[0].DisplayName"
                                                                                                                                                                      } />
                    <span class="mandatory">*</span>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Password</td>
                <td class="middletd">
                    <input name="password" placeholder="Something insane like Qwerty..." @if (Model.ActionFailed) { @: value="@Model.UserList[0].Password"
                                                                                         } />
                    <span class="mandatory">*</span>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>Department<i class="material-icons infoicon">info</i></span></td>
                <td>
                    <select name="department">
                        <option selected="@(Model.ActionFailed && Model.UserList[0].Department == "Support")">Support</option>
                        <option selected="@(Model.ActionFailed && Model.UserList[0].Department == "Navision")">Navision</option>
                        <option selected="@(Model.ActionFailed && Model.UserList[0].Department == "Drift")">Drift</option>
                        <option selected="@(Model.ActionFailed && Model.UserList[0].Department == "Solution")">Solution</option>
                    </select>


                    <div class="description">
                        <p class="descriptiontext">
                            The department will give different access based on role..
                        </p>
                    </div>
                    
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" class="button" id="buttonSubmit" value="Create Admin" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); info()" />
    </fieldset>
    <br />
    <fieldset>
        <legend class="sublegend">Current Admins</legend>
        <table>
            <tr>
                <td class="middletd">
                    <div class="middletd" id="adminusers">Loading..</div>
                </td>
            </tr>
        </table>
    </fieldset>

}