@model SystemHostingPortal.Models.MailModel
@{
    ViewBag.Title = "Mail > Add Alias";
}
@section script { 
    <script>
    $(document).ready(function () {
        $("select[name=organization]").change(function () {
            GetAcceptedDomain();
            GetMailbox();

            $("#existingAliases").html("");
        });
        $("select[name=userprincipalname]").change(function () {
            GetAliases();
        });

        @if (Model.Alias != null)
        {
        <text>$("select[name=organization]").val("@Model.Alias.Organization");</text>
        }

        GetAcceptedDomain();
        GetMailbox();
    });
    </script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form add email aliases to a user account.</p>

@using(Html.BeginForm("AddAlias", "Mail")) {
<fieldset>
    <legend>Add alias</legend>
    <table>
        <tr>
            <td colspan="2">
                <div id="messageDiv">
                    @if (Model.Message != null)
                    {
                        <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                    }
                </div>
                <div id="okMessageDiv">
                    @if (Model.OKMessage.Count > 0)
                    {
                        <div class="okmessage">
                            @foreach (string msg in Model.OKMessage)
                            {
                                <p>@msg</p>
                            }
                            <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                        </div>
                    }
                </div>
            </td>
        </tr>

        <tr>
            <td class="lefttd">Organization</td>
            <td><select name="organization">
                @foreach(string organization in Model.Organizations) 
                {
                    <option @if(Model.ActionFailed)
                            {
                                if(organization == Model.Alias.Organization) {
                                    @:selected="selected"
                                }
                            }>@organization</option>
                }
                </select></td>
        </tr>
        <tr>
            <td class="lefttd">Accepted emaildomains:</td>
            <td class="righttd">
                <div id="acceptedDomain"></div>
            </td>
        </tr>
        <tr>
            <td class="lefttd">Existing aliases:</td>
            <td class="righttd">
                <div id="existingAliasesDiv">
                    <ul id="existingAliases"></ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lefttd">Mailbox</td>
            <td>
                <select name="userprincipalname"><option>loading...</option></select>
            </td>
        </tr>
        <tr>
            <td class="lefttd">Set first alias as primary address</td>
            <td><input name="setfirstasprimary" type="checkbox" @if (Model.ActionFailed)
                                                           { 
                                                                if(Model.Alias.SetFirstAsPrimary) { 
                                                                    @:checked="checked"
                                                                }
                                                            }/></td>
        </tr>
        <tr>
            <td class="lefttd">New email aliases</td>
            <td>@if (Model.ActionFailed)
                {
                    <textarea name="emailaddresses" rows="10" placeholder="Write one alias per line">@string.Join("\r\n", Model.Alias.EmailAddresses)</textarea>
                }
                else {
                    <textarea name="emailaddresses" rows="10" placeholder="Write one alias per line"></textarea>
                }
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" class="button" class:hover="button:hover" value="Add Alias" id="buttonSubmit" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
</fieldset>
}