<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>@ViewBag.Title - Columbus Selfservice Portal</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Styles.Render("~/Content/reset.css")
    @Styles.Render("~/Content/styleOrange.min.css")
    <link href="@Url.Content("~/Content/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.datetimepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.datetimepicker.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-confirm.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/jquery.collapse.js")
    @Scripts.Render("~/Scripts/shtfunctions.js")
    <script>
            $.ajaxSetup({
                cache: false
            });

            $(document).ready(function () {
                $(".tooltip").click(function () {
                    $(this).siblings("td").children(".description").toggle(100);
                })
            });
    </script>
    <script>
            $.ajaxSetup({
                cache: false
            });

            $(document).ready(function () {
                $(".helptooltip").click(function () {
                    $(this).siblings("td").children(".infohelp").toggle(100);
                })
                // Sort all lists..
                $("#homesort").html(
                    $("#homesort").children("li").sort(function (a, b) {
                        return $(a).text().toUpperCase().localeCompare(
                        $(b).text().toUpperCase());
                    }) // End Sort
                );
                $("#usersort").html(
                    $("#usersort").children("li").sort(function (a, b) {
                        return $(a).text().toUpperCase().localeCompare(
                        $(b).text().toUpperCase());
                    }) // End Sort
                );
                $("#mailsort").html(
                    $("#mailsort").children("li").sort(function (a, b) {
                        return $(a).text().toUpperCase().localeCompare(
                        $(b).text().toUpperCase());
                    }) // End Sort
                );
                $("#o365sort").html(
                    $("#o365sort").children("li").sort(function (a, b) {
                        return $(a).text().toUpperCase().localeCompare(
                        $(b).text().toUpperCase());
                    }) // End Sort
                );
                $("#orgsort").html(
                    $("#orgsort").children("li").sort(function (a, b) {
                        return $(a).text().toUpperCase().localeCompare(
                        $(b).text().toUpperCase());
                    }) // End Sort
                );
                $("#servicesort").html(
                    $("#servicesort").children("li").sort(function (a, b) {
                        return $(a).text().toUpperCase().localeCompare(
                        $(b).text().toUpperCase());
                    }) // End Sort
                );
                $("#lvl30sort").html(
                    $("#lvl30sort").children("li").sort(function (a, b) {
                        return $(a).text().toUpperCase().localeCompare(
                        $(b).text().toUpperCase());
                    }) // End Sort
                );
            });

    </script>

    @RenderSection("style", required: false)
</head>
<body>
    <!--<div id="topdiv">
        @if (ColumbusPortal.Logic.CommonCAS.DebugMode)
            {
            <script>
                     $("#topdiv").css("background-color", "green");
            </script>

                <div style="text-align: center; font-weight: bold; font-size: x-large">ENTERPRISE TEST!!  <img align="middle" src="~/Images/giphy.gif" />  ENTERPRISE TEST!!</div>

            //<div id="topdivtext"><img src="~/Images/Columbus.png" /><img src="~/Images/captologo.png" /></div>
        }
        else
        {
            <div id="topdivtext"><img src="~/Images/1columbus_logo.png" /></div>
        }
    </div>-->

    <br />
    <table>
        <tr>
            <td>
                <div>
                    <nav id="nav" role="navigation">
                        <ul class="top-level-menu">
                            <li>
                                <a href="~//">Home</a>
                                <ul id="homesort" class="second-level-menu">
                                    <li><a href="~//Home/ChangeLog">ChangeLog</a></li>
                                </ul>
                            </li>

                            <li>
                                <a><span>User</span></a>
                                <ul id="usersort" class="second-level-menu">
                                    <li><a href="~//User/Create">Create User</a></li>
                                    <li><a href="~//User/ResetPWD">Reset Password</a></li>
                                    <!--  <li><a href="~//User/CreateBatch">Create users (batch)</a></li> -->
                                    <li><a href="~//User/Disable">Disable User</a></li>
                                    <li><a href="~//User/Enable">Enable User</a></li>
                                    <li><a href="~//User/Remove">Remove User</a></li>
                                    <li><a href="~//User/CreateExtUser">Create EXT. User</a></li>
                                </ul>

                            </li>
                            <li>
                                <a><span>Mail</span></a>
                                <ul id="mailsort" class="second-level-menu">
                                    <li><a href="~//Mail/AddAlias">Add Alias</a></li>
                                    <li><a href="~//Mail/RemoveAlias">Remove Alias</a></li>
                                    <li><a href="~//Mail/CreateMailbox">Create Mailbox</a></li>
                                    <li><a href="~//Mail/CreateDistributionGroup">Create Dist. Group</a></li>
                                    <li><a href="~//Mail/GetCalendarPermissions">Calendar Permissions</a></li>
                                    @if (ColumbusPortal.Logic.CommonCAS.DebugMode)
                                    {


                                    }

                                    <!--   <li><a href="~//Mail/GetDeviceReport">Get Device Report</a></li>
                                    <li><a href="~//Mail/GetItemsReport">Get Mail Items Report</a></li>
                                    <li><a href="~//Mail/SetMailForward">Set Mailforward</a></li>-->

                                </ul>
                            </li>
                            <li>
                                <a><span>Office 365</span></a>
                                <ul id="o365sort" class="second-level-menu">
                                    <li><a href="~//Office365/VerifyDomain">Verify Domain</a></li>
                                    <li><a href="~//Office365/StartDirSync">Directory Sync</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><span>Organization</span></a>
                                <ul id="orgsort" class="second-level-menu">
                                    <li><a href="~//Organization/Create">Create Organization</a></li>
                                    <li><a href="~//Organization/AddDomain">Add Domain</a></li>
                                    <li><a href="~//Organization/RemoveDomain">Remove Domain</a></li>
                                    <li><a href="~//Organization/CreateALLAdmins">Create All Admins</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><span>Service</span></a>
                                <ul id="servicesort" class="second-level-menu">
                                    <li><a href="~//Service/CustomerReport">Customer Report</a></li>
                                    <li><a href="~//Service/ExpandVHD">Expand VHD</a></li>
                                    <li><a href="~//Service/ExpandCPURAM">Expand CPU/RAM</a></li>
                                    <li><a href="~//Service/ScheduleReboot">Schedule VM Reboot</a></li>
                                    <li><a href="~//Service/ScomPendingReboot">SCOM PendingReboot</a></li>
                                    <li><a href="~//Service/ScomLatestAlerts">SCOM Latest Alerts</a></li>
                                    <li><a href="~//Service/ScomAlertFree">SCOM Freespace</a></li>
                                    @if (ColumbusPortal.Logic.CommonCAS.DebugMode)
                                    {

                                    }


                                </ul>
                            </li>
                            @if (Request.IsAuthenticated && User.IsInRole("Role_Level_30"))
            {
                                <li>
                                    <a>Level 30</a>
                                    <ul id="lvl30sort" class="second-level-menu">
                                        <li><a href="~//Level30/UpdateConf">Update Conf</a></li>
                                        <li><a href="~//Level30/ExpandVHD">Expand VHD</a></li>
                                        <li><a href="~//Level30/ExpandCPURAM">Expand CPU/RAM</a></li>
                                        @if (ColumbusPortal.Logic.CommonCAS.DebugMode)
                                        {
                                        }
                                        <li><a href="~//Level30/ResetAdminPassword">Admin - Password</a></li>
                                        <li><a href="~//Level30/CreateAdmin">Admin - Create New</a></li>
                                        <li><a href="~//Level30/RemoveAdmin">Admin - Remove</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a>Level 30</a>
                                    <ul id="lvl30sort"></ul>
                                </li>
                            }
                            <li>
                                <a><span>Log</span></a>
                                <ul id="Logsort">
                                    <li><a href="~//Home/Log">Log</a></li>
                                    <li><a href="~//Home/AzureLog">AzureLog</a></li>
                                </ul>
                            </li>
                            @if (ColumbusPortal.Logic.CommonCAS.DebugMode)
                            {
                                <li>
                                    <a><span>Future</span></a>
                                    <ul id="Logsort">
                                        <li><a href="~//Future/CreateEXTAdmin">Create EXT. Admin</a></li>
                                        <li><a href="~//Future/ScheduleEXTAdmin">Schedule EXT. Admin</a></li>
                                        <li><a href="~//Future/RemoveEXTAdmin">Remove EXT. Admin</a></li>
                                    </ul>
                                </li>

                            }
                        </ul>



                    </nav>
                    @Html.Partial("_LoginPartial")
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div id="bodydiv">

                    <div id="maindiv">
                        @RenderBody()
                        <br />
                        <hr />
                        <br />
                        <footer>
                            <table>
                                <tr>
                                    <td style="width:10px">
                                        <center><span class="warning spanguide">*</span></center>
                                    </td>
                                    <td>
                                        <span class="spanguide"> =  Mandatory</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10px">
                                        <center><span class="spanguideicons"><i style="float:none" class="material-icons infoicon">info</i></span></center>
                                    </td>
                                    <td>
                                        <span class="spanguide"> =  Info button for help on input</span>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10px">
                                        <center><span class="spanguideicons"><img width="20" height="10" src="~/Images/FeatureColor.jpg" /></span></center>
                                    </td>
                                    <td>
                                        <span class="spanguide"> =  New Feature or other enhancements</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10px">
                                        <center><span class="warning spanguideicons">ABC</span></center>
                                    </td>
                                    <td>
                                        <span class="spanguide"> =  ATTENTION!, Please read the text before pressing anything</span>
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <hr />
                            <br />
                            <p class="copyright"><i style="float:none; text-align:center; align-content:center" class="material-icons copyrighticon">copyright</i> @DateTime.Now.Year - Columbus</p>

                        </footer>
                    </div>

                </div>
            </td>
        </tr>
    </table>

    @RenderSection("script", required: false)

    <script>
                $(document).ready(function () {
                    $(".collapsed").collapse();
                });

                function ClearErrors() {
                    $('#messageDiv').html("");
                }

                function AddError(json) {
                    $('#messageDiv').append('<div class="message"><p>' + json.Message + '</p>' +
                        (json.InnerMesssage != null ? '<p>' + json.InnerMesssage + '</p>' : '') +
                        '<pre>' + json.Stack + '</pre><small><a href="javascript:ClearErrors()">Clear errors</a></small></div>');
                }

                function ClearMessages() {
                    $('#okMessageDiv').html("");
                }
    </script>
</body>
</html>
