@using System.Security.Claims
@using System.Web.Helpers;

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<title>@ViewBag.Title - Columbus Selfservice Portal</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
@Styles.Render("~/Content/reset.css")
@Styles.Render("~/Content/styleOrange.min.css")
@Styles.Render("~/Content/jquery-ui.min.css")
@Styles.Render("~/Content/jquery.datetimepicker.min.css")
@Styles.Render("~/Content/jquery-confirm.min.css")
@Styles.Render("~/Content/superfish.css")
@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/jquery.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
@Scripts.Render("~/Scripts/jquery.datetimepicker.full.min.js")
@Scripts.Render("~/Scripts/jquery.coolfieldset.min.js")
@Scripts.Render("~/Scripts/modernizr-2.8.3.js")
@Scripts.Render("~/Scripts/jquery-ui.min.js")
@Scripts.Render("~/Scripts/jquery-confirm.min.js")
@Scripts.Render("~/Scripts/jquery.collapse.js")
@Scripts.Render("~/Scripts/hoverIntent.js")
@Scripts.Render("~/Scripts/superfish.js")
@Scripts.Render("~/Scripts/float-panel.js")
@Scripts.Render("~/Scripts/shtfunctions.min.js")
@Scripts.Render("~/Scripts/Captofunctions.js")
@Scripts.Render("~/Scripts/modernizr-2.8.3.js")
    

<script>
        $.ajaxSetup({
            cache: false
        });

        $(document).ready(function () {

            $("#userpasslink").click(function () {
                GetXKCDPassword('user', function (data) {
                    $.confirm({
                        theme: 'light',
                        type: 'green',
                        typeAnimated: true,
                        title: 'XKCD User Password created:',
                        content: '<div style="font-size: 17px;"><text>' + data + '</text></div><p><br /><div><a href="https://xkcd.com/936/" title="XKCD mindset.." target="_blank">What is XKCD?</a></div><p>',
                        buttons: {
                            Reload: {
                                text: 'Reload', // text for button
                                btnClass: 'btn-green', // class for the button
                                isHidden: false, // initially not hidden
                                isDisabled: false, // initially not disabled
                                action: function () {
                                    var event = new Event('click');
                                    document.getElementById('userpasslink').dispatchEvent(event);
                                }
                            },
                            Close: {
                                text: 'Close', // text for button
                                isHidden: false, // initially not hidden
                                isDisabled: false, // initially not disabled
                                action: function () {

                                }
                            },
                        }
                    });
                });
            })

            $("#svcpasslink").click(function () {
                GetXKCDPassword('svc', function (data) {
                    $.confirm({
                        theme: 'light',
                        type: 'green',
                        typeAnimated: true,
                        title: 'XKCD SVC Password created:',
                        content: '<div style="font-size: 17px;"><text>' + data + '</text></div><p><br /><div><a href="https://xkcd.com/936/" title="XKCD mindset.." target="_blank">What is XKCD?</a></div><p>',
                        buttons: {
                            Reload: {
                                text: 'Reload', // text for button
                                btnClass: 'btn-green', // class for the button
                                isHidden: false, // initially not hidden
                                isDisabled: false, // initially not disabled
                                action: function () {    
                                    var event = new Event('click');
                                    document.getElementById('svcpasslink').dispatchEvent(event);
                                }
                            },
                            Close: {
                                text: 'Close', // text for button
                                isHidden: false, // initially not hidden
                                isDisabled: false, // initially not disabled
                                action: function () {

                                }
                            },
                        }

                    });
                });
            })

            $(".tooltip").click(function () {
                $(this).siblings("td").children(".description").toggle(100);
            })
            jQuery('ul.sf-menu').superfish({
                delay: 800,                             // one second delay on mouseout
                animation: { opacity: 'show', height: 'show' },  // fade-in and slide-down animation
                speed: 'fast',                          // faster animation speed
                autoArrows: false                       // disable generation of arrow mark-up
            });
        });

</script>
<script>
        $(document).ready(function () {
            $(".helptooltip").click(function () {
                $(this).siblings("td").children(".infohelp").toggle(100);
            })
        });

</script>
    
@RenderSection("style", required: false)
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <div id="topdivtext">
            <ul class="sf-menu">
                <li><a href="~//">Home</a></li>
                <li class="dropdown">
                    <a href="#">User</a>
                    <ul>
                        <li><a href="~//User/Create">Create User</a></li>
                        <li><a href="~//User/Disable">Disable User</a></li>
                        <li><a href="~//User/Enable">Enable User</a></li>
                        <li><a href="~//User/GetUserMemberOf">Get User Groups</a></li>
                        <li><a href="~//User/Remove">Remove User</a></li>
                        <li><a href="~//User/ResetPWD">Reset Password</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Mail</a>
                    <ul>
                        <li><a href="~//Mail/AddAlias">Add Alias</a></li>
                        <li><a href="~//Mail/GetCalendarPermissions">Calendar Permissions</a></li>
                        <li><a href="~//Mail/CreateDistributionGroup">Create Dist. Group</a></li>
                        <li><a href="~//Mail/CreateMailbox">Create Mailbox</a></li>
                        <li class="dropdown">
                            <a href="#">Out Of Office</a>
                            <ul>
                                <li><a href="~//Mail/RemoveOOFMessage">Remove Out Of Office</a></li>
                                <li><a href="~//Mail/SetOOFMessage">Set Out Of Office</a></li>
                            </ul>
                        </li>
                        <li><a href="~//Mail/RemoveAlias">Remove Alias</a></li>
                        <li><a href="~//Mail/SetMailforward">Set Mailforward</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Cloud</a>
                    <ul>
                        <li class="dropdown">
                            <a href="#">Office 365</a>
                            <ul>
                                <li><a href="~//Office365/StartDirSync">Directory Sync</a></li>
                                <li><a href="~//Office365/VerifyDomain">Verify Domain</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Azure</a>
                            <ul>
                            @if (ColumbusPortal.Logic.CommonCAS.DebugMode)
                            {
                                <li class="dropdown">
                                    <a href="#">Azure Setup</a>
                                    <ul>
                                        <li><a href="~//Azure/CreatePSAppRegistration">1. Create Azure Management App</a></li>
                                        <li><a href="~//Azure/SetCloudAdminPassword">2. Admin never expires</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Azure Compute (VM)</a>
                                    <ul>
                                        
                                        <li><a href="~//Azure/CreateVM">Create VM</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Azure Intune</a>
                                    <ul name="o365sort2">
                                        <li><a href="~//Azure/CreateDefaultIntuneConfiguration">Setup Default Intune</a></li>
                                        <li><a href="~//Azure/UpdateAzureIntuneDeviceConfiguration">Update Device Configuration</a></li>
                                        <li><a href="~//Azure/UpdateAzureIntuneComplianceSettings">Update Device Compliance</a></li>
                                        <li><a href="~//Azure/IntuneOverview">Overview</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Azure Network</a>
                                    <ul name="o365sort2">
                                        <li><a href="~//Azure/CreateAzurePIP">Create Public IP</a></li>
                                    </ul>
                                </li>
                                <li><a href="~//Azure/AzureOverView">Live Overview</a></li>

                                }
                                else
                                {
                                <li><a href="#">Under Development</a></li>
                                }

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Crayon</a>
                            <ul>
                                <li><a href="~//Crayon/CreateCrayonTenant">Create Tenant</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Organization</a>
                    <ul id="orgsort">
                        <li><a href="~//Organization/AddDomain">Add Domain</a></li>
                        <li><a href="~//Organization/CreateALLAdmins">Create All Admins</a></li>
                        <li><a href="~//Organization/Create">Create Organization</a></li>
                        <li><a href="~//Organization/RemoveDomain">Remove Domain</a></li>
                        <li><a href="~//Organization/ConnectAdminRDS">Connect to Organization</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Service</a>
                    <ul>
                        <li><a href="~//Service/CustomerReport">Customer Report</a></li>
                        <li><a href="~//Service/ExpandCPURAM">Expand CPU/RAM</a></li>
                        <li><a href="~//Service/ExpandVHD">Expand VHD</a></li>
                        <li><a href="~//Service/ScheduleReboot">Schedule VM Reboot</a></li>
                        <li class="dropdown">
                            <a href="#">Password Generator</a>
                            <ul>
                                <li><a id="userpasslink">XKCD User Password</a></li>
                                <li><a id="svcpasslink">XKCD SVC Password</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">SCOM</a>
                            <ul>
                                <li><a href="~//Service/ScomAlertFree">Freespace</a></li>
                                <li><a href="~//Service/ScomLatestAlerts">Latest Alerts</a></li>
                                <li><a href="~//Service/SCOMLatestVMs">Latest Created VMs</a></li>
                                <li><a href="~//Service/ScomPendingReboot">PendingReboot</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Level30</a>
                    <ul id="lvl30sort">
                        @if (Request.IsAuthenticated && User.IsInRole("Role_Level_30"))
                        {
                            <li><a href="~//Level30/ExpandCPURAM">Expand CPU/RAM</a></li>
                            <li><a href="~//Level30/ExpandVHD">Expand VHD</a></li>
                            <li class="dropdown">
                                <a href="#">CASIT Accounts</a>
                                <ul id="lvl30sort2">
                                    <li><a href="~//Level30/RemoveCASAdminALL">Remove All</a></li>
                                    <li><a href="~//Level30/RemoveCASAdmin">Remove Single Admin</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">External Admins</a>
                                <ul id="lvl30sort2">
                                    @if (ColumbusPortal.Logic.CommonCAS.DebugMode)
                                    {
                                        <li><a href="~//Level30/CreateEXTAdmin">Create EXT. Admin</a></li>
                                        <li><a href="~//Level30/ScheduleEXTAdmin">Schedule EXT. Admin</a></li>
                                        <li><a href="~//Level30/RemoveEXTAdmin">Remove EXT. Admin</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#">Under Development</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Internal Admins</a>
                                <ul id="lvl30sort2">
                                    <li><a href="~//Level30/CreateAdmin">Create Admin</a></li>
                                    <li><a href="~//Level30/RemoveAdmin">Remove Admin</a></li>
                                    <li><a href="~//Level30/ResetAdminPassword">Reset Password</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">NAV Customers</a>
                                <ul id="lvl30sort2">
                                    <li><a href="~//Level30/CreateNAVCustomer">Create Customer</a></li>
                                    <li><a href="~//Level30/UpdateNAVCustomer">Update Customer</a></li>
                                    <li><a href="~//Level30/RemoveNAVCustomer">Remove Customer</a></li>
                                </ul>
                            </li>
                            <li><a href="~//Level30/UpdateConf">Update Configuration</a></li>
                        }
                        else
                        {
                            <li><a href="#">Not lvl30!</a></li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Log</a>
                    <ul id="logsort">
                        <li><a href="~//Home/Log">Log</a></li>
                        <li><a href="~//Home/AzureLog">AzureLog</a></li>
                        <li><a href="~//Home/ChangeLog">ChangeLog</a></li>
                    </ul>
                </li>
                    <li class="dropdown">
                        <a href="#">Capto</a>
                        <ul>
                            <li class="dropdown">
                                <a href="#">Users</a>
                                <ul>
                                    <li><a href="~//Capto/CPOCreateUser">Create user</a></li>
                                    <li><a href="~//Capto/CPOCreateUserBatch">Create users (batch)</a></li>
                                    <li><a href="~//Capto/CPODisableUser">Disable user</a></li>
                                    <li><a href="~//Capto/CPOEnableUser">Enable user</a></li>
                                    <li><a href="~//Capto/CPORemoveUser">Remove user</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Mail</a>
                                <ul>
                                    <li><a href="~//Capto/CPOAddAcceptedDomain">Add AcceptedDomain</a></li>
                                    <li><a href="~//Capto/CPOAddAlias">Add Alias</a></li>
                                    <li><a href="~//Capto/CPOAddMailboxPermission">Add Mailbox Permission</a></li>
                                    <li><a href="~//Capto/CPOCreateMailbox">Create Mailbox</a></li>
                                    <li><a href="~//Capto/CPOCreateDistributionGroup">Create DistributionGroup</a></li>
                                    <li><a href="~//Capto/CPOEnableSikkerMail">Enable Sikkermail</a></li>
                                    <li><a href="~//Capto/CPOGetCalendarPermissions">Get CalendarPermissions</a></li>
                                    <li><a href="~//Capto/CPOGetDeviceReport">Get Device Report</a></li>
                                    <li><a href="~//Capto/CPOGetItemsReport">Get Mail Items Report</a></li>
                                    <li><a href="~//Capto/CPORemoveAlias">Remove Alias</a></li>
                                    <li><a href="~//Capto/CPOSetMailForward">Set Mailforward</a></li>
                                    <li><a href="~//Capto/CPOSetMailboxPlan">Set MailboxPlan</a></li>
                                    <li><a href="~//Capto/CPOSetAllMailboxPlans">Set All MailboxPlans</a></li>
                                    <li><a href="~//Capto/CPOSetMailboxAutoResize">Set Mailbox Auto Resize</a></li>
                                    <li><a href="~//Capto/CPOSetOOFMessage">Set Out Of Office</a></li>
                                    <li><a href="~//Capto/CPORemoveOOFMessage">Remove Out Of Office</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Organization</a>
                                <ul>
                                    <li><a href="~//Capto/CPOCreate">Create organization</a></li>
                                    <li><a href="~//Capto/CPOSetNavCompanyName">Set NAV CompanyName</a></li>
                                    <li><a href="~//Capto/CPOCreateAccount">Add Account / Company</a></li>
                                    <li><a href="~//Capto/CPORemoveDummyDomain">Remove Dummy Domain</a></li>
                                    <li><a href="~//Capto/CPODisableCustomer">Disable Customer</a></li>
                                    <li><a href="~//Capto/CPOEnableCustomer">Enable Customer</a></li>
                                    <li><a href="~//Capto/CPOConvertCustomer">Convert Customer</a></li>
                                    <li><a href="~//Capto/CPORemoveCustomer">Remove Customer</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Office365</a>
                                <ul>
                                    <li><a href="~//Capto/CPOEnable365Customer">Enable 365</a></li>
                                    <li><a href="~//Capto/CPOAddDomain">Add Domain</a></li>
                                    <li><a href="~//Capto/CPOEnableFederation">Enable Federation</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Service</a>
                                <ul>
                                    <li><a href="~//Capto/CPOCustomerReport">Customer Report</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Level30 stuff</a>
                                <ul>
                                    <li><a href="~//Capto/CPOUpdateVersionConf">Update Legal Version Conf</a></li>
                                    <li><a href="~//Capto/CPOCreateGoldenVM">CTX - Create Golden VM</a></li>
                                    <li><a href="~//Capto/CPOMCSUpdateImage">CTX - Update MCS Checkpoint</a></li>
                                    <li><a href="~//Capto/CPOMCSCreateCatalog">CTX - Create MCS Catalog</a></li>
                                </ul>
                            </li>
                            <li><a href="~//Home/CPOLog">Capto Log</a></li>
                        </ul>
                    </li>
                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("_LoginPartial")
                    <li class="dropdown">
                       
                        <a href="#">@User.Identity.Name.ToString()</a>
                        <ul>
                            <li><a href="~//Home/MyInfo">My Info</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    </li>

                }

            </ul>
        </div>
    }
    <table>
        <tr>
            <td>
                <div id="bodydiv">

                    <div id="maindiv">
                        @RenderBody()
                        <br />
                        <hr />
                        <br />
                        <footer>
                            <table>
                                <tr>
                                    <td style="width:10px">
                                        <center><span class="warning spanguide">*</span></center>
                                    </td>
                                    <td>
                                        <span class="spanguide"> =  Mandatory</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10px">
                                        <center><span class="spanguideicons"><i style="float:none" class="material-icons infoicon">info</i></span></center>
                                    </td>
                                    <td>
                                        <span class="spanguide"> =  Info button for help on input</span>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10px">
                                        <center><span class="spanguideicons"><img width="20" height="10" src="~/Images/FeatureColor.jpg" /></span></center>
                                    </td>
                                    <td>
                                        <span class="spanguide"> =  New Feature or other enhancements</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:10px">
                                        <center><span class="warning spanguideicons">ABC</span></center>
                                    </td>
                                    <td>
                                        <span class="spanguide"> =  ATTENTION!, Please read the text before pressing anything</span>
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <hr />
                            <br />
                            <p class="copyright"><i style="float:none; text-align:center; align-content:center" class="material-icons copyrighticon">copyright</i> @DateTime.Now.Year - Columbus</p>

                        </footer>
                    </div>

                </div>
            </td>
        </tr>
    </table>
    <div id="backtop">&#9650;</div>
    @RenderSection("script", required: false)

    <script>
                $(document).ready(function () {
                    $(".collapsed").collapse();
                });

                function ClearErrors() {
                    $('#messageDiv').html("");
                }

                function AddError(json) {
                    $('#messageDiv').append('<div class="message"><p>' + json.Message + '</p>' +
                        (json.InnerMesssage != null ? '<p>' + json.InnerMesssage + '</p>' : '') +
                        '<pre>' + json.Stack + '</pre><small><a href="javascript:ClearErrors()">Clear errors</a></small></div>');
                }

                function ClearMessages() {
                    $('#okMessageDiv').html("");
                }
    </script>
</body>
</html>
