<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
        <title>@ViewBag.Title - SystemHosting Portal</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        @Styles.Render("~/Content/reset.css")
        @Styles.Render("~/Content/style.css")
        <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        @Scripts.Render("~/Scripts/jquery.collapse.js")
        @Scripts.Render("~/Scripts/shtfunctions.js")
        <script>
            $.ajaxSetup({
                cache: false
            });

            $(document).ready(function () {
                $(".tooltip").click(function () {
                    $(this).siblings("td").children(".description").toggle(100);
                })
            });
        </script>
        <script>
            $.ajaxSetup({
                cache: false
            });

            $(document).ready(function () {
                $(".helptooltip").click(function () {
                    $(this).siblings("td").children(".infohelp").toggle(100);
                })
            });
        </script>

        @RenderSection("style", required: false)
    </head>
    <body>
        <div id="topdiv">
            @if (SystemHostingPortal.Logic.Common.DebugMode)
            {
                 <script>
                     $("#topdiv").css("background-color", "green");
                 </script>

                 <div style="text-align: center; font-weight: bold; font-size: x-large">ENTERPRISE TEST!!  <img align="middle" src="~/Images/giphy.gif" />  ENTERPRISE TEST!!</div>

                //<div id="topdivtext"><img src="~/Images/Columbus.png" /><img src="~/Images/captologo.png" /></div>
            }
            else
            {
                <div id="topdivtext"><img src="~/Images/Columbus.png" /></div>
            }
        </div>
        <table>
            <tr>
                <td>
                    <div id="bodydiv">
                        <div id="leftdiv">
                            <ul class="navi">
                                <li><a href="~//">Home</a></li>
                                <li><a href="~//Home/Log">SelfService Log</a></li>
                                <li>User</li>
                                <li>
                                    <ul class="navisub">
                                        <li><a href="~//User/Create">Create user</a></li>
                                      <!--  <li><a href="~//User/CreateBatch">Create users (batch)</a></li>
                                        <li><a href="~//User/Disable">Disable user</a></li>
                                        <li><a href="~//User/Enable">Enable user</a></li>
                                        <li><a href="~//User/Remove">Remove user</a></li> -->
                                    </ul>
                                </li>
                              <!--  <li>Mail</li>
                                <li>
                                    <ul class="navisub">
                                        <li><a href="~//Mail/AddAcceptedDomain">Add AcceptedDomain</a></li>
                                        <li><a href="~//Mail/AddAlias">Add Alias</a></li>
                                        <li><a href="~//Mail/AddMailboxPermission">Add Mailbox Permission</a></li>
                                        <li><a href="~//Mail/CreateDistributionGroup">Create DistributionGroup</a></li>
                                        <li><a href="~//Mail/GetCalendarPermissions">Get CalendarPermissions</a></li>
                                        <li><a href="~//Mail/GetDeviceReport">Get Device Report</a></li>
                                        <li><a href="~//Mail/GetItemsReport">Get Mail Items Report</a></li>
                                        <li><a href="~//Mail/SetMailForward">Set Mailforward</a></li>
                                        <li><a href="~//Mail/RemoveAlias">Remove Alias</a></li>
                                    </ul>
                                </li>-->
                                <li>Organization</li>
                                <li>
                                    <ul class="navisub">
                                        <li><a href="~//Organization/Create">Create organization</a></li>
                                        <li><a href="~//Organization/DisableCustomer">Disable Customer</a></li>
                                        <li><a href="~//Organization/EnableCustomer">Enable Customer</a></li>
                                        <li><a class="warning2" href="~//Organization/RemoveCustomer">Remove Customer</a></li>
                                        
                                    </ul>
                                </li>
                            </ul>
                            @if (Request.IsAuthenticated && User.IsInRole("Role_Level_30"))
                            {<ul class="navi">
                                <li>Level30 stuff</li>
                                <li>
                                    <ul class="navisub">
                                        <li><a href="~//Level30/UpdateConf">Update Conf</a></li>
                                    </ul>

                                </li>
                            </ul>
                            }
                          </div>
                        <div id="maindiv">
                            @RenderBody()
                        </div>

                    </div>
                </td>
            </tr>
        </table>
        @RenderSection("script", required: false)

        <script>
            $(document).ready(function () {
                $(".collapsed").collapse();
            });

            function ClearErrors() {
                $('#messageDiv').html("");
            }

            function AddError(json) {
                $('#messageDiv').append('<div class="message"><p>' + json.Message + '</p>' +
                    (json.InnerMesssage != null ? '<p>' + json.InnerMesssage + '</p>' : '') +
                    '<pre>' + json.Stack + '</pre><small><a href="javascript:ClearErrors()">Clear errors</a></small></div>');
            }

            function ClearMessages() {
                $('#okMessageDiv').html("");
            }
        </script>
    </body>
</html>
